In [1]:
import pandas as pd

In [2]:
index = [i for i in range(1,21)]
demand = pd.read_excel('Demand_Matrix.xlsx', sheet_name='Matrix')[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']]
demand.index += 1
demand

    Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday
1    1.000    1.000      1.000     1.000   1.000     1.000   1.000
2    2.250    2.250      2.250     2.250   2.250     1.000   1.000
3    2.250    2.250      2.250     2.250   2.250     1.500   1.500
4    1.875    1.875      1.875     1.875   1.875     1.875   1.875
5    1.500    1.500      1.500     1.500   1.500     2.250   2.250
6    1.500    1.500      1.500     1.500   1.500     1.500   1.500
7    1.500    1.500      1.500     1.500   1.500     1.500   1.500
8    1.500    1.500      1.500     1.500   1.500     1.500   1.500
9    1.500    1.500      1.500     1.500   1.500     1.500   1.500
10   1.500    1.500      1.500     1.500   1.500     1.500   1.500
11   1.500    1.500      1.500     1.500   2.250     1.500   1.500
12   2.250    2.250      2.250     2.250   2.250     1.875   1.875
13   2.250    2.250      2.250     2.250   2.250     1.875   1.875
14   1.250    1.250      1.250     1.250   2.250     1.875   1.500
15   1.000    1.000      1.000     1.000   1.250     1.500   1.000
16   1.000    1.000      1.000     1.000   1.000     1.000   1.000
17   1.000    1.000      1.000     1.000   1.000     1.000   1.000
18   1.000    1.000      1.000     1.000   1.000     1.000   1.000
19   1.000    1.000      1.000     1.000   1.000     1.000   1.000
20   0.000    0.000      0.000     0.000   0.000     1.000   0.000

In [3]:
weekly_demand = {'Orange': 915253.0, 'Green': 892371.5, 'Yellow': 91525.5, 'Blue': 388982.5}

In [4]:
def demand_mapping(weekly_demand,df):
    ttl_portion = 0
    for i in [df.Monday,df.Tuesday,df.Wednesday,df.Thursday,df.Friday,df.Saturday,df.Sunday]:
        ttl_portion += sum([j for j in i]) 
    demand_portion = weekly_demand / ttl_portion
    Th =[round(i*demand_portion,0) for i in df.Thursday]
    F =[round(i*demand_portion,0) for i in df.Friday]
    Sat = [round(i*demand_portion,0) for i in df.Saturday]
    Sun = [round(i*demand_portion,0) for i in df.Sunday]
    d = pd.DataFrame({
        "Weekday":Th,
                  "Friday":F,
                  "Saturday":Sat,
                  "Sunday":Sun})
    print(d)
    d.index += 1
    return d

In [5]:
orange = demand_mapping(weekly_demand['Orange'],demand)
blue = demand_mapping(weekly_demand['Blue'],demand)
green = demand_mapping(weekly_demand['Green'],demand)
yellow = demand_mapping(weekly_demand['Yellow'],demand)

    Weekday   Friday  Saturday   Sunday
0    4559.0   4559.0    4559.0   4559.0
1   10258.0  10258.0    4559.0   4559.0
2   10258.0  10258.0    6839.0   6839.0
3    8548.0   8548.0    8548.0   8548.0
4    6839.0   6839.0   10258.0  10258.0
5    6839.0   6839.0    6839.0   6839.0
6    6839.0   6839.0    6839.0   6839.0
7    6839.0   6839.0    6839.0   6839.0
8    6839.0   6839.0    6839.0   6839.0
9    6839.0   6839.0    6839.0   6839.0
10   6839.0  10258.0    6839.0   6839.0
11  10258.0  10258.0    8548.0   8548.0
12  10258.0  10258.0    8548.0   8548.0
13   5699.0  10258.0    8548.0   6839.0
14   4559.0   5699.0    6839.0   4559.0
15   4559.0   4559.0    4559.0   4559.0
16   4559.0   4559.0    4559.0   4559.0
17   4559.0   4559.0    4559.0   4559.0
18   4559.0   4559.0    4559.0   4559.0
19      0.0      0.0    4559.0      0.0
    Weekday  Friday  Saturday  Sunday
0    1938.0  1938.0    1938.0  1938.0
1    4360.0  4360.0    1938.0  1938.0
2    4360.0  4360.0    2906.0  2906.0
3    3633.0  3633.0    3633.0  3633.0
4    2906.0  2906.0    4360.0  4360.0
5    2906.0  2906.0    2906.0  2906.0
6    2906.0  2906.0    2906.0  2906.0
7    2906.0  2906.0    2906.0  2906.0
8    2906.0  2906.0    2906.0  2906.0
9    2906.0  2906.0    2906.0  2906.0
10   2906.0  4360.0    2906.0  2906.0
11   4360.0  4360.0    3633.0  3633.0
12   4360.0  4360.0    3633.0  3633.0
13   2422.0  4360.0    3633.0  2906.0
14   1938.0  2422.0    2906.0  1938.0
15   1938.0  1938.0    1938.0  1938.0
16   1938.0  1938.0    1938.0  1938.0
17   1938.0  1938.0    1938.0  1938.0
18   1938.0  1938.0    1938.0  1938.0
19      0.0     0.0    1938.0     0.0
    Weekday   Friday  Saturday   Sunday
0    4445.0   4445.0    4445.0   4445.0
1   10002.0  10002.0    4445.0   4445.0
2   10002.0  10002.0    6668.0   6668.0
3    8335.0   8335.0    8335.0   8335.0
4    6668.0   6668.0   10002.0  10002.0
5    6668.0   6668.0    6668.0   6668.0
6    6668.0   6668.0    6668.0   6668.0
7    6668.0   6668.0    6668.0   6668.0
8    6668.0   6668.0    6668.0   6668.0
9    6668.0   6668.0    6668.0   6668.0
10   6668.0  10002.0    6668.0   6668.0
11  10002.0  10002.0    8335.0   8335.0
12  10002.0  10002.0    8335.0   8335.0
13   5556.0  10002.0    8335.0   6668.0
14   4445.0   5556.0    6668.0   4445.0
15   4445.0   4445.0    4445.0   4445.0
16   4445.0   4445.0    4445.0   4445.0
17   4445.0   4445.0    4445.0   4445.0
18   4445.0   4445.0    4445.0   4445.0
19      0.0      0.0    4445.0      0.0
    Weekday  Friday  Saturday  Sunday
0     456.0   456.0     456.0   456.0
1    1026.0  1026.0     456.0   456.0
2    1026.0  1026.0     684.0   684.0
3     855.0   855.0     855.0   855.0
4     684.0   684.0    1026.0  1026.0
5     684.0   684.0     684.0   684.0
6     684.0   684.0     684.0   684.0
7     684.0   684.0     684.0   684.0
8     684.0   684.0     684.0   684.0
9     684.0   684.0     684.0   684.0
10    684.0  1026.0     684.0   684.0
11   1026.0  1026.0     855.0   855.0
12   1026.0  1026.0     855.0   855.0
13    570.0  1026.0     855.0   684.0
14    456.0   570.0     684.0   456.0
15    456.0   456.0     456.0   456.0
16    456.0   456.0     456.0   456.0
17    456.0   456.0     456.0   456.0
18    456.0   456.0     456.0   456.0
19      0.0     0.0     456.0     0.0

In [6]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Demand_estimation_Index.xlsx', engine='xlsxwriter')

#Write each dataframe to a different worksheet.

orange.to_excel(writer, sheet_name='orange')
yellow.to_excel(writer, sheet_name='yellow')
blue.to_excel(writer, sheet_name='blue')
green.to_excel(writer, sheet_name='green')

# Close the Pandas Excel writer and output the Excel file.
writer.save()